<div class="modal hide" id="modalPB">
	<div class="modal-content">
	  	<button class="button close" id="closePB">&#215;</button>
		<%= image_tag "pb.png", alt: "alttext" %>

		<div class="modal-text mt-4 py-3">
			<h2>Patrice Baubeau</h2>

			<div class="scroll pt-3" style="height: 30vh; overflow: scroll;">
				<p style="font-size: 12px; font-weight: lighter;">
					Patrice Baubeau, est maître de conférences en histoire contemporaine à l’Université Paris Nanterre, rattaché à l’IDHES (UMR 8533). Ses principaux domaines de recherche portent sur les banques, les monnaies et les crises (y compris les guerres) en France et en Europe au XIXe et au XXe siècle, sur lesquels il a publié plus d’une centaine d’articles et de contributions. Il a aussi confronté ces questions à leur traitement littéraire ou cinématographique et s’est intéressé à leur propagande.
				</p>
			</div>
		</div>

	</div>
</div>

<div class="modal hide" id="modalMP">
	<div class="modal-content">
	  	<button class="button close" id="closeMP">&#215;</button>
		<%= image_tag "mp.jpg", alt: "alttext" %>

		<div class="modal-text mt-4 py-3">
			<h2>Martial Poirson</h2>

			<div class="scroll pt-3" style="height: 30vh; overflow: scroll;">
				<p style="font-size: 12px; font-weight: lighter;">
					Martial Poirson est professeur des universités à l’Université Paris 8. Il est directeur des masters Arts de la scène et Projet artistique et culturel international et de l’équipe de recherche « Histoire, politique et socio-économie des arts, de la culture et de la création » (E.A. 1573). Il est également visiting professor en Cultural Studies à New York University. Spécialiste d’histoire culturelle, il a notamment travaillé sur les représentations de l’économie. Il a publié plusieurs ouvrages et a coordonné plus d’une trentaine de volumes et de revues sur le théâtre, la littérature, le cinéma, les musées, l’économie politique et les cultures populaires. Il est également commissaire d’exposition et dramaturge.Martial Poirson est professeur des universités à l’Université Paris 8. Il est directeur des masters Arts de la scène et Projet artistique et culturel international et de l’équipe de recherche « Histoire, politique et socio-économie des arts, de la culture et de la création » (E.A. 1573). Il est également visiting professor en Cultural Studies à New York University. Spécialiste d’histoire culturelle, il a notamment travaillé sur les représentations de l’économie. Il a publié plusieurs ouvrages et a coordonné plus d’une trentaine de volumes et de revues sur le théâtre, la littérature, le cinéma, les musées, l’économie politique et les cultures populaires. Il est également commissaire d’exposition et dramaturge.
				</p>
			</div>
		</div>

	</div>
</div>

<div class="modal hide" id="modalYT">
	<div class="modal-content">
	  	<button class="button close" id="closeYT">&#215;</button>
		<%= image_tag "yt.jpg", alt: "alttext" %>

		<div class="modal-text mt-4 py-3">
			<h2>Yann Toma</h2>

			<div class="scroll pt-3" style="height: 30vh; overflow: scroll;">
				<p style="font-size: 12px; font-weight: lighter;">
					Yann Toma est artiste-observateur à l’ONU (New York), professeur des universités à Paris 1 Panthéon-Sorbonne, membre titulaire de l’Institut ACTE, directeur du Master in Arts and Vision (MAVI), co-directeur du Master Art & Management de l'innovation. Il coordonne de multiples projets de recherche liés aux ODD. Son travail croise l’énergie et les réseaux, tout autant que l’éthique. En tant qu’artiste, ses projets expérimentent une redistribution de l’énergie entre l’artiste et ses publics et qui dépendent d'un certain degré en Energie Artistique (EA) pour produire l’œuvre, de sorte qu’elle soit véritablement commune (Dynamo-Fukushima, Grand Palais, septembre 2011 - Human Energy, Tour Eiffel, décembre 2015 – Human Greenergy, Cité interdite de Pékin, octobre 2016 – Organisation des Nations Unies New York 2017) et orientée vers la transformation. Il est également auditeur de l'IHEST, membre du Board de la Fondation des Etats Unis, directeur de Sorbonne Artgallery et président de Sorbonne Développement Durable, structure réticulaire collaborative.
				</p>
			</div>
		</div>

	</div>
</div>

<div class="modal hide" id="modalPRO">
	<div class="modal-content">
	  	<button class="button close" id="closePRO">&#215;</button>

		<div class="modal-text-pro mt-4 py-3">
			<div class="pt-3">
				<ul>
					<% @chapters.each do |chapter|%>
						<li class="chapter-list py-3">
							<span> <%= chapter.title %> · <%= chapter.date %> </span>
							<% chapter.colloques.each do |colloque| %>
								<li class="colloque-list py-2">
									<%= link_to colloque_path(colloque) do %>
										<span class="modal-link my-3"> <%= colloque.title %> </span>
									<% end %>
									<% colloque.interventions.each do |intervention| %>
										<li class="intervention-list py-1">
										<%= link_to intervenant_path(intervention.intervenant) do %>
											<span class="modal-link my-3"> <%= intervention.description %> </span>
										<% end %>
										</li>
									<% end %>
								</li>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>

	</div>
</div>